*{
	margin:0%;
	padding:0%;
	box-sizing:border-box;
	font-family:cursive;
	background-color:black;
	color:white;
}
html{
	animation:trans 2s ease forwards;
}
@keyframes trans{
	0%{
	transform:translateX(-100%);
}
	100%{
	transform:translateX(0%);
	}
}
.wrapper{
	display:flex;
	justify-content:center;
	align-items:center;
	align-content:center;
	min-height:100px;
}
.container #title{
	font-weight:bolder;
	font-size:30px;
	display:flex;
	justify-content:center;
	align-items:center;
	align-content:center;
	min-height:100px;
}
#descrip{
	display:flex;
	font-weight:bold;
}
#no{
	color:blue;
}
#ph{
	display:flex;
	justify-content:flex-start;
	align-items:flex-start;
	align-content:flex-start;
	font-weight:light;
}
#mail{
	display:flex;
	justify-content:flex-start;
	align-items:flex-start;
	align-content:flex-start;
	font-weight:light;
}
#adds{
	
	display:flex;
	justify-content:flex-start;
	align-items:flex-start;
	align-content:flex-start;
	font-weight:light;
}
#btn{
	display:flex;
	justify-content:center;
	align-content:center;
}